@import url("https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css");
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css");
@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap ");
@import url("https://fonts.googleapis.com/css2?family=Knewave&display=swap");
@import url("https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.css");





:root{
    --blue:blue;
    --red:red;
    --gray:gray;
    --white:white;
    --whitesmoke:#fbfbfb;
    --black:black;
    --black-one:#191919;
    --border-color:#c7c7c7;
    --place-holder-search: #c2c2c2;
    --place-holder-button:#f6921e;
    --anchor-color:#474d52;   
    --heading-color:#474d52;
    --button-hover: #0b7dda;
    --placeholder:#CDCDCD;
    --donate-color:#50d250;
    --donate-hover:rgba(0, 128, 0, 0.856);
    --header-background:#f9f9f9;
    

}


body {
    font-family:'Oswald', sans-serif;
    padding: 0px!important;
}

/* header-start */
.header{
    width: 100%;
    height: auto;
    background-color:var(--header-background);
}

.navbar{
    background-color: var(--header-background);
}

/* mobile-menu */

.offcanvas-header{ display:none; }

@media (max-width: 992px) {
  .offcanvas-header{ display:block; }
  .navbar-collapse {
    position: fixed;
    top:0; 
    bottom: 0;
    left: 100%;
    width: 100%;
    padding-right: 1rem;
    padding-left: 1rem;
    overflow-y: auto;
    visibility: hidden;
    background-color: black;
    transition: visibility .2s ease-in-out, -webkit-transform .2s ease-in-out;
  }
  .navbar-collapse.show {
    visibility: visible;
    transform: translateX(-100%);
    z-index: 2;
  }
  .search-from button {
    position: absolute;
    left: 178px;
    top: 6px;
    background: no-repeat;
    border: none;
    padding: 0px;
    color: var(--place-holder-button);
}

@media (max-width: 260px) { 
    .logo-sec img{
        width: 80px!important;
    }

}
#nav-one,#nav-eight,#nav-twelve,#nav-fourteen,#nav-sixteen {
    margin-left: 5px!important;
}


}
/* mobile-menu-end */


/* navbar-image */

.nav-link.navone{background: url(../img/nav/index.png);background-repeat: no-repeat;background-size: 100%;
}
.nav-link.navtwo{background: url(../img/nav/buddhist_temple.png);background-repeat: no-repeat;background-size: 100%;
}
.nav-link.navthree{background: url(../img/nav/charity.png);background-repeat: no-repeat;background-size: 100%;
}
.nav-link.navfour{background: url(../img/nav/buddhism.png);background-repeat: no-repeat;background-size: 100%;
}
.nav-link.navfive{background: url(../img/nav/soul_learning.png);background-repeat: no-repeat;background-size: 100%;
}
.nav-link.navsix{background: url(../img/nav/self_learning.png);background-repeat: no-repeat;background-size: 100%;
}
.nav-link.navseven{background: url(../img/nav/self_refuge.png);background-repeat: no-repeat;background-size: 100%;
}
.nav-link.naveight{background: url(../img/nav/self_repent.png);background-repeat: no-repeat;background-size: 100%;
}


.nav-link.navnine{background: url(../img/nav/health.png);background-repeat: no-repeat;background-size: 100%;
}
.nav-link.navten{background: url(../img/nav/vegan-shop.png);background-repeat: no-repeat;background-size: 100%;
}
.nav-link.naveleven{background: url(../img/nav/temple_tours.png);background-repeat: no-repeat;background-size: 100%;
}
.nav-link.navtwelve{background: url(../img/nav/y-messenger.png);background-repeat: no-repeat;background-size: 100%;
}
.nav-link.navthirteen{background: url(../img/nav/donation_btn.png);background-repeat: no-repeat;background-size: 100%;
}
.nav-link.navfourteen{background: url(../img/nav/login.png);background-repeat: no-repeat;background-size: 100%;
}
.nav-link.navfifteen{background: url(../img/nav/sign_up.png);background-repeat: no-repeat;background-size: 100%;
}
.nav-link.navsixteen{background: url(../img/nav/eng.png);background-repeat: no-repeat;background-size: 100%;
}
.nav-link.navseventeen{background: url(../img/nav/eng.png);background-repeat: no-repeat;background-size: 100%;
}

/* navbar-image-end */

/*language-btn*/
#nav-sixteen:hover ~ #nav-seventeen{
    opacity: 1;

}

#nav-seventeen{
    position: absolute;
    bottom: 0;
    right: 22px;
    top: 45px;
    opacity: 0;

}
.nav-link {
    display: inline-block;
    width: 35px;
    height: 35px;
    border-radius: 5px;
    padding: 0px;
    margin: 0 5px;
}

/*logo-image*/

.logo-sec img {
    height: 41px;
    width: 150px;
    margin-left: 0px;
    margin-top: -5px;
}
/*logo-image-end*/

@media (min-width: 992px){
.navbar-expand-lg .navbar-nav .nav-link {
    padding-right: 0px;
    padding-left: 0px;
}
}
@media (max-width: 300px) { 
    .temple-section .section-title{
        width: 100%;
        height: 60px;
    }
    .temple-section .head-title{
        font-size: 16px;
    }
    .viewall{
        margin-top: 5px;
    }


}

/* navbar-hover-image */
.navone:hover{  
    cursor: pointer;
    content: url('/img/nav/index-hover.png');

  
}

.navtwo:hover{  
    cursor: pointer;  
    content: url('/img/nav/buddhist_temple_hover.png');
}
.navtwo:active{  
    cursor: pointer;  
    content: url('/img/new/2.png');
}

.navthree:hover{  
    cursor: pointer;
    content: url('/img/nav/charity_hover.png');

}
.navfour:hover{  
    cursor: pointer; 
    content: url('/img/nav/buddhism_hover.png');
}
.navfive:hover{  
    cursor: pointer; 
    content: url('/img/nav/soul_learning_hover.png');
}
.navsix:hover{  
    cursor: pointer;
    content: url('/img/nav/self_learning_hover.png');
}
.navseven:hover{  
    cursor: pointer; 
    content: url('/img/nav/self_refuge_hover.png');
}
.naveight:hover{  
    cursor: pointer;  
    content: url('/img/nav/self_repent_hover.png');
}
.navnine:hover{  
    cursor: pointer;  
    content: url('/img/nav/health_hover.png');
}
.navten:hover{  
    cursor: pointer;  
    content: url('/img/nav/vegan_shop_hover.png');
}

.naveleven:hover{
    cursor: pointer;   
    content: url('/img/nav/temple_tours_hover.png');
}
.navtwelve:hover{
    cursor: pointer;   
    content: url('/img/nav/y-messenger_hover.png');
}
.navthirteen:hover{  
    cursor: pointer;   
    content: url('/img/nav/donation_btn_hover.png');
}
.navfourteen:hover{
    cursor: pointer;   
    content: url('/img/nav/login_hover.png');
}

.navfifteen:hover{  
    cursor: pointer;   
    content: url('/img/nav/sign_up_hover.png');
}


/* navbar-hover-image-end */


.search-from {
    position:relative;

}


.search-from input{    
    background: var(--whitesmoke);
    border: 1px solid var(--border-color);
    padding: 8px;
    height: 35px;
    border-radius: 0px;
    font-size: 14px;
    width: 200px;
    max-width: 100%;
    margin-bottom: 7px;
    outline-color: var(--place-holder-button);
   
    

} 


.search-from input::placeholder{color: var(--placeholder)}
.search-from button{
    position: absolute;
    right: 11px;
    top: 6px;
    background: no-repeat;
    border: none;
    padding: 0px;
    color: var(--place-holder-button);
}


/* between-nav-icon-space */

#nav-one{
    margin-left: 50px;
}
#nav-nine{
    margin-left: 50px;
}
#nav-twelve{
    margin-left: 50px;
}
#nav-fourteen{
    margin-left: 50px;
    
}
#nav-sixteen{
    margin-left: 50px;
    
}

/*between-icon-space-end*/

/* bell */
a.nav-link.bell {
    background: url(../img/nav/bell.png);
    background-repeat: no-repeat;
    background-size: 100%;
    position: fixed;
    top: 6em;
    z-index: 9;
    right: 12px;
}
/* bell-end */

/* fiexed-bar */



.fixedpraybox{
    position: fixed;
    z-index: 99;
    right: 0;
    bottom: 10px;
    width: 200px;
    text-align: right;
    padding: 10px;   
    border-radius: 12px 0px 0px 12px;}
.fixedpraybox ul.list-pray li {
    line-height: 27px;
    margin-bottom: 7px;
    transition: all  1s;
    list-style: none;
    
}
.fixedpraybox ul.list-pray li a:hover {

    padding:9px 55px 9px 9px;
 
}


.fixedpraybox ul.list-pray li:last-child{border: none;}
.fixedpraybox ul.list-pray li a {
    color: var(--black);
    text-transform: capitalize;
    font-size: 13px;
    background-color: var(--white);
    padding: 9px 9px;
    margin-top: 20px;
    border-radius: 5px;
    transition: all 1s;
    text-decoration: none;
    box-shadow: 0 0 20px 7px rgba(204, 204, 204, 0.3);

}

.fixedpraybox ul.list-pray li a img{
    height:23px;
    margin-left:8px;
}

@media (min-width: 992px) and (max-width: 1056px) { 
    .navfive,.navsix,.navseven,.naveight,.navnine,.navten,.naveleven{
        display: none;
    }
}
@media (min-width: 1056px) and (max-width: 1100px) { 
    .navseven,.naveight,.navnine,.navten,.naveleven{
        display: none;
    }
}
@media (min-width: 1100px) and (max-width: 1200px) { 
    .navnine,.navten,.naveleven{
        display: none;
    }
}
@media (min-width: 1200px) and (max-width: 1300px) { 
    .navnine,.naveleven{
        display: none;
    }
}


/* header-end */


/* buddism-search-bar */

.buddha-search-container{
    padding: 25px;
}
form.example input[type=text] {
    padding:4px 6px;
    font-size: 17px;
    border: 1px solid var(--border-color);
    float: left;
    width: 15%;
    background: var(--white);
    margin-left: 7px;
    margin-top: 0px;   
    outline: none;
  }
  
  form.example button {
    float: left;
    color: var(--place-holder-button);
    font-size: 17px;
    border: 0px;
    border-left: none;
    cursor: pointer;
    margin-left: -31px;
    outline: none;
    margin-top: 3px;
    background-color: transparent;
}
  
  ::placeholder{
      color: var(--placeholder);
      font-size: 13px;
  }
  form.example button i:hover {
    color:var(--blue);
  }
  
  form.example::after {
    content: "";
    clear: both;
    display: table;
  }
  @media (min-width: 716px) and (max-width: 1100px) { 
    form.example input[type=text]{
        width: 24.25%;
        margin-top: 5px;
    }
    form.example button{
        margin-top: 9px;
       
    }
   }
  @media (min-width: 716px) and (max-width: 955px) { 
    form.example input[type=text]{
        width: 20%;
        margin-top: 5px;
    }
    form.example button{
        margin-top: 9px;
       
    }
   }

  @media (min-width: 500px) and (max-width: 715.98px) { 
    form.example input[type=text]{
        width: 48%;
        margin-top: 5px;
    }
    form.example button{
        margin-top: 9px;
       
    }
   }
  @media (min-width: 150px) and (max-width: 499.98px) { 
    form.example input[type=text]{
        width: 99%;
        margin-top: 5px;
    }
    form.example button{
        margin-top: 9px;
       
    }
   }
/* buddism-search-bar-end */

 /* <!-- buddist-temple-section--> */

 .temple-section,.charity-section,.meditation-section,.activities-section,.fund-raising-section,.table-section,.Donated-Items-nearby,.Self-Repent-section,.vegan-shop-restaurants,.free-accommodation{
    border-bottom: rgb(228 228 228);
    border-bottom-style: solid;
    border-bottom-width: 5px;
    margin-bottom: 10px;
}
.temple-section .card-title:hover{
    color: var(--place-holder-button);
    transition: all .2s;
}


 .section-title h2 {
    font-size: 1.5rem;
    color: var(--black);
    font-weight: 600;
    margin-bottom: 0px;
    
}

.section-title a{
    text-decoration: none;
}
.head-title {
    color: var(--black);
    transition: all .5s;
}
.head-title:hover {
    color: var(--place-holder-button);
}


.section-title h2 a.viewall {
    color: var(--place-holder-button);
    font-size: 14px;
    float: right;
    display: inline-block;
    padding-right: 6px;
    padding-top: 5px;
}

 .card {
    width: 100%;
    margin-top: 6px;
    border: 0px;
 }


 .card .image-container {
    width: 100%;
    height: 170px;
    overflow: hidden;
    position: relative;
    border-radius: 0px;
    
}

.card .image-container img {
    width: 100%;
    height: 100%;
}
.card .image-container img:hover{
    transform: scale(1.1) rotate(4deg);
}
.card-body .card-details{
    color: var(--anchor-color);
    font-size: 17px;
    transition: all .2s;
    
}
.card-body .card-details:hover{
    color: var(--place-holder-button);
    
}

.card-body {
    padding: 12px 0px;
}

.card-body .card-title a{
    font-family: 'Oswald', sans-serif;
    font-size: 1.0rem;
    color: var(--heading-color);
    font-weight: 600;
    margin: 0 0 2px;
}
.card-body .card-title a:hover{
    
    color: var(--place-holder-button);
    transition: all 0.5s;
    
}
.card-body .card-title {
    font-family: 'Oswald', sans-serif;
    font-size: 1.0rem;
    color: var(--heading-color);
    font-weight: 600;
    margin: 0 0 2px;
}


.card-body .map-icon a {
    color: var(--anchor-color);
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-decoration: none;
    font-size: 14px;
}

.card-body .map-icon i{
    color: var(--red);
    padding-right: 5px;
}

.map-icon{
    margin-bottom: 0px;
}
.border-bottom-5{
    border-bottom: var(--border-color);
    border-bottom-width: 5px;
    border-bottom-style: solid;
    margin-bottom: 10px;
}


#more11 {
    display: none;
}
#more12 {
    display: none;
}
#more13 {
    display: none;
}
#more14 {
    display: none;
}
#morethirtytwo {
    display: none;
}
#morethirtythree {
    display: none;
}
#morethirtyfour {
    display: none;
}
#morethirtyfive {
    display: none;
}

.card-body button {
    color: var(--red);
    background-color: transparent;
    border: 0px;
    outline-color: var(--place-holder-button);
}

.card-body a {
    color: var(--anchor-color);
    font-family: 'Oswald', sans-serif;
    font-weight: 500;
    text-decoration: none;
}




.share-container .fa-heart {
    font-size: 19px;
    color: var(--gray);
   
  
}
.share-container .fa-heart:hover{
    font-size: 19px;
    color: var(--red);
   
  
}

.share-container  .fa-share{
    font-size: 19px;
    color: var(--gray);
   
}
.share-container  .fa-share:hover{
    font-size: 19px;
    color: var(--red);
   
}

.share-container a{
    float: right;
}
.favorite-image{
    width: 64%;
    height: 20px;
    margin-bottom: 3px;
  
}
.favorite-image:hover{
    content: url('/img/new/67.png');
}


/* buddist-temple-section-end  */



/* meditation-section */
.meditation-card-details-container p{
    margin-bottom: 0px;

}

.meditation-section .fa-registered{
    color: var(--gray);
    font-size: 17px;
}
.meditation-section .fa-registered:hover{
    color: var(--blue);
    font-size: 17px;
}

@media (max-width: 575.98px) { 
    .meditation-section .section-title{
        width: 100%;
        height: 50px;
    }
    .meditation-section .head-title{
        font-size: 16px;
    }
    .viewall{
        margin-top: 5px;
    }


}
@media (max-width: 420px) { 
    .meditation-section .section-title{
        width: 100%;
        height: 70px;
    }
    .meditation-section .head-title{
        font-size: 16px;
    }
    .viewall{
        margin-top: 5px;
    }


}
@media (max-width: 240px) { 
    .meditation-section .section-title{
        width: 100%;
        height: 100px;
    }
    .meditation-section .head-title{
        font-size: 17px;
    }
    .viewall{
        margin-top: 5px;
    }


}
/* meditation-section-end */

/* activities-section */
.activities-card-details-container p{
    margin-bottom: 0px;

}

.activities-section .share-container i{
    float: right;
}
/* activities-section-end */


/* Self-Repent Posted From Users-section  */
.Self-Repent-section{
    padding-bottom: 10px;
}
.Self-Repent-section .repentcontent {
    padding: 20px;
    margin: 10px;
    box-shadow: 0 0 10px #ffedd7;
    border-radius: 25px;
    background: var(--white);
    text-align: center;
}
.Self-Repent-section .repentcontent h3 { font-size: 24px; font-weight: 800;}
.Self-Repent-section .repentcontent  p{font-size: 16px;line-height: 28px;}
.Self-Repent-section .repentcontent span {
    color: var(--place-holder-button);
    
    font-size: 13px;
}
.Self-Repent-section .self-repent-slider .owl-dots{text-align: center}
.Self-Repent-section .self-repent-slider .owl-dot {margin: 0 6px;
    width: 50px;
    height: 12px;
    background:var(--border-color);
    border-radius: 30px;
    outline: none;

}
.Self-Repent-section .self-repent-slider .owl-dots .owl-dot.active{ background: #f6921e;}

.Self-Repent-section i{
    color: var(--gray);
    position: absolute;
    bottom: 14%;
    right: 9%;
}

.Self-Repent-section a {
    color: var(--place-holder-button);
}
.mb-0{
    margin-bottom: 0!important;
}
/* Self-Repent Posted From Users-section-end */



/* footer */

.mainfooter{
    background: url(../img/footbg.jpg);    
    background-repeat:no-repeat;
    background-size:cover;
    background-position:center;
    padding: 50px 0;
    text-align: center;
}

.vistior,.footcopy,.foot-nav,
.foot-social{margin-top:25px;}
.mainfooter .footlogo p.tagline{
    font-size: 24px;
    color: var(--white);
    font-weight: 600;
    margin-top: 10px;
    text-align: center;
}

.foot-nav a{
    position: relative;
    display: inline-block;
    font-size: 17px;
    color: var(--white);
    margin:0 10px;
    text-decoration: none;
}
.foot-nav a:after{    content: '';
    width: 8px;
    height: 8px;
    background: var(--place-holder-button);
    border-radius: 100%;
    display: inline-block;
    margin-left: 17px;}

.foot-nav a:last-child:after{
    display: none;
}
.foot-social a{
    display: inline-block;
    width: 45px;
    height: 45px;
    background:var(--place-holder-button);
    color:var(--white);
    line-height: 45px;
    text-align: center;
    font-size: 20px;
    border-radius: 100%;
    margin:0 6px; 
}
 .foot-social a:hover{
     background:var(--white);
     color: var(--place-holder-button);
    
}

.footcopy p{
    font-size: 15px;
    color:var(--border-color);
    text-align: center;
}

.footcopy p a{
    display: inline-block;
    color: var(--border-color);
    margin-left: 4px;
  

}
 
.vistior p {
    color: var(--white);
    font-size: 18px;
    font-weight: 600;
    margin: 0px;
    text-align: center;
    margin-right: 22px;
}
.vistior p span {
    display: inline-block;
    background: var(--white);
    color: var(--black);
    width: 120px;
    height: 30px;
    line-height: 30px;
    letter-spacing: 16px;
    padding-left: 13px;
   
}
.footcopy p a:hover,
.foot-nav a:hover{color: var(--place-holder-button)}
.classes-list {
    padding:0;
}

/* footer-end */
